#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  font-family: "メイリオ";
}

h1 {
  font-size: 45px;
  color: rgb(240, 240, 58);
}

h2 {
  text-shadow: 2px 2px salmon;
  color: #0accee;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    background-color: pink;
  }
}

p {
  color: #b9f871;
  font-size: 20px;
}

ul {
  list-style: none;
}

.inner {
  width: 1200px;
  margin: auto;
}

.glonav {
  background-color: purple;
  ul {
    display: flex;
    justify-content: space-around;
    a {
      color: silver;
      font-size: 20px;
      font-weight: bold;
      display: block;
      width: 200px;
      padding: 20px 0;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        background-color: rgb(175, 36, 140);
      }
    }
  }
}

.kv {
  margin-bottom: 150px;
  .kv-inner {
    position: relative;
    img {
      width: 100%;
      height: 800px;
    }
    .kv-text {
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      width: 1200px;
      margin: auto;
      h3 {
        color: red;
        font-size: 30px;
      }
    }
  }
}

.content2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
  p {
    background: black;
    color: white;
    margin: 0;
    position: absolute;
    &.reverseTitle {
      font-size: 8rem;
      text-transform: capitalize;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 10px 20px;
      padding-left: 100px;
      top: 30px;
      left: 0;
    }
    &.reverseSentence {
      font-size: 4rem;
      writing-mode: vertical-rl;
      font-family: 'HiraMinProN-W6',serif;
      letter-spacing: 1rem;
      padding: 20px 10px;
      position: absolute;
      bottom: 0;
      right: 60px;
    }
  }
  .bg {
    width: 60vw;
    height: 400vh;
    background-color: white;
    mix-blend-mode: difference;
    transform: rotate(45deg);
    position: absolute;
    top: -120vh;
  }
}

.content {
  margin-bottom: 100px;
  h2 ~ p {
    margin-bottom: 40px;
  }
  .column3 {
    display: flex;
    justify-content: space-between;
    .column3-item {
      width: 300px;
      position: relative;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .column3-item-text-small {
        font-size: 13px;
      }
    }
  }
}

.btnarea {
  margin-top: 120px;
  .column3.type2 {
    justify-content: space-around;
    .btn {
      font-size: 24px;
      font-weight: bold;
      color: lightblue;
      background-color: darkgreen;
      text-decoration: none;
      display: block;
      width: 100%;
      text-align: center;
      padding: 18px 0;
      border-radius: 6px;
      transition: 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer {
  margin-top: 125px;
  .footer-top {
    background-color: rgb(95, 13, 74);
    .inner {
      padding: 20px 0 40px;
      .footer-title {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid rgb(241, 111, 4);
        padding-bottom: 30px;
        margin-bottom: 40px;
      }
      ul {
        display: flex;
        a {
          color: #dce79e;
          display: inline-block;
          margin-right: 50px;
          font-size: 20px;
          &:hover {
            text-decoration: none;
          }
          &:after {
            content: url("/assets/images/icon_blank.svg");
            position: relative;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .footer-bottom {
    padding: 8px 0;
    .copywrite {
      font-size: 14px;
      text-align: center;
    }
  }
}

table {
  width: 70%;
  border: dashed 5px rgb(95, 13, 74);
  border-collapse: collapse;
  text-align: center;
  th {
    color: pink;
    padding: 10px;
    background-color: red;
    border: dashed 5px rgb(95, 13, 74);
  }
  td {
    color: blue;
    padding: 20px;
    background-color: green;
    border: dashed 5px rgb(95, 13, 74);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
  p {
      background: black;
      color: white;
      margin: 0;
      position: absolute;
      &.en {
          font-size: 8rem;
          text-transform: capitalize;
          font-family: impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          padding: 10px 20px;
          padding-left: 100px;
          top: 30px;
      }
      &.ja {
          font-size: 4rem;
          writing-mode: vertical-rl;
          font-family: 'HiraMinProN-W6', serif;
          letter-spacing: 1rem;
          padding: 20px 10px;
          position: absolute;
          bottom: 0;
          right: 60px;
          span {
              display: inline-block;
              transform: rotateY(180deg);
          }
      }
  }
  .bg {
      width: 40vw;
      height: 400vh;
      background-color: white;
      mix-blend-mode: difference;
      transform: rotate(45deg);
      position: absolute;
      top: -100vh;
  }
  .bg2 {
      width: 40vw;
      height: 400vh;
      background-color: rgb(255, 0, 170);
      mix-blend-mode: difference;
      transform: rotate(60deg);
      position: absolute;
      top: -100vh;
  }
  .bg3 {
      width: 40vw;
      height: 400vh;
      background-color:  rgb(19, 139, 175);
      mix-blend-mode: difference;
      transform: rotate(70deg);
      position: absolute;
      top: -100vh;
  }
  .bg4 {
      width: 40vw;
      height: 400vh;
      background-color:  rgb(4, 79, 240);
      mix-blend-mode: difference;
      transform: rotate( 80deg);
      position: absolute;
      top: -100vh;
  }
}

.container2 {
  width: 100%;
  p {
      font-size: 30px;
      text-transform: capitalize;
      letter-spacing: 5px;
      word-spacing: 115px;
      text-shadow: 2px 2px 8px blue;
      border: double 10px red;
      &:before {
          content: "♥";
          margin-right: 10px;
      }
      &:after {
          content: "★";
          margin-left: 10px;
      }
      &:hover {
          cursor: help;
      }
  }
  img {
      width: 30%;
      height: 30%;
      filter: drop-shadow(2px 2px 8px red) blur(15px);
      transition: 0.8s;
      &:hover {
          filter: brightness(150%);
          transform: scale(1.1);
          cursor: pointer;
      }
  }
}

.table {
  margin: 100px 0;
  border: solid 9px rgb(14, 235, 106);
  border-collapse: collapse;
  text-align: center;
  th {
      border: dotted 2px black;
      padding: 20px;
      color: rgb(15, 13, 13);
      background-color: rgb(100, 204, 195);
      width: 160px;
  }
  td {
      border: dotted 2px black;
  }
  .yellow {
      background-color: rgb(245, 228, 81);
      width: 80px;
  }
  .blue {
      background-color: blue;
      width: 80px;
  }
  .purple {
      background-color: purple;
  }
  .red {
      background-color: red;
  }
}
